<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-11-22T18:33:46Z</date>
	<key>WorkspacePath</key>
	<string>/Users/yhuang001/Documents/projects/MulCAT/readMotionFile/motionReader/motionReader.xcodeproj</string>
</dict>
</plist>
